<!-- <button type="button" id="picButton" name="button">take picture</button> -->

<div class="controls">
  <fieldset class="input-group">
    <input type="file" accept="image/*" capture="camera"/>
  </fieldset>

</div>
