body {
  padding: 50px;
  background-image: url('../images/space-stuff.png');
  background-repeat: repeat;
  /* background-image: linear-gradient('../images/space-stuff.png'); */
  color: #FFFFFF;
  font: 15px copperplate;
  cursor: crosshair;
}

marquee {
  border: 8px white;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 55px;
  text-align: center;
  border-style: double;
}

hr {
  height: 2px;
  color: #ffffff;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  border: 2px white dotted;
  width: 100%;
}

img {
  border: 3px white dashed;
}
